.nav-perfil {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.title-perfil{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-perfil{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-img-perfil{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    padding: 15px;
    flex-direction: column;
}

.img-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.img-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-perfil-icon {
    font-size: 50px;
    color: #ccc;
}

.text-img-perfil {
    cursor: pointer;
    color: #012953;
    margin-top: 0px;
}

.input-perfil{
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.container-button-editar-perfil{
    display: flex;
    justify-content: center;
}

.but-perfil{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 130px;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #FEC808;
}

.text-editar-perfil{
    font-size: 20px;
}