.nav-onibus {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.title-onibus{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-onibus {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-onibus {
    width: 700px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.container-button-buscar-onibus {
    display: flex;
    justify-content: right;
}

.but-onibus {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    width: 130px;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #FEC808;
    cursor: pointer;
}

.text-buscar-onibus{
    font-size: 20px;
}

.container-result{
    width: auto;
    margin-top: 10px;
}
.container-result-title{
    display: flex;
    align-items: center; 
    padding: 5px;
    gap: 10px;
}

.onibus-list {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaço entre os containers dos ônibus */
    padding: 16px;
  }
  
  .onibus-item {
    border: 1px solid #ddd; /* Borda suave */
    border-radius: 8px; /* Cantos arredondados */
    padding: 16px;
    background-color: #f9f9f9; /* Cor de fundo suave */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .onibus-title {
    margin: 0 0 8px; /* Margem inferior */
    font-size: 18px;
    color: #333; /* Cor do texto do título */
  }
  
  .onibus-item p {
    margin: 4px 0; /* Margem superior e inferior para os parágrafos */
    font-size: 16px;
  }
  
  .onibus-item p strong {
    color: #555; /* Cor do texto em negrito */
  }
  