.desig-registro {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cadastro {
    font-family: 'Open Sans Hebrew', sans-serif;
    background-color: white;
    padding: 10px;
    width: 450px;
    height: 450px;
    position: fixed;
    top: 180px;
    left: 800px;
    z-index: 2;
    border: 1px solid #706c6c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.espacos {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 14px;
    position: absolute;
    margin-top: 70px;
}

.password-label,
.confirm-password-label {
    position: relative;
}

.password-checkbox,
.confirm-password-checkbox {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}


.cadastrar {
    background-color: #fec808;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    background-color: white;
    border: 2px solid #706c6c;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
}

.circulo-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.camera-img {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.h2C{
    color: red;
    font-size: 10px;
    margin-top: 3rem;
    cursor: pointer;
    border: 1px solid gray;
    padding: 1%;
}

