.desig-login {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.retangulo {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: #FFE866AD;
    max-height: 60%;
}

.mapa-styled {
    position: absolute;
    left: 150px;
    width: 624px;
    height: 572px;
    top: 10%;
    max-width: calc(100% - 400px);
    z-index: 1;
}

.login {
    font-family: 'Open Sans Hebrew', sans-serif;
    background-color: white;
    padding: 20px;
    width: 450px;
    height: 350px;
    top: 30%;
    position: absolute;
    left: 800px;
    z-index: 2;
    border: 1px solid #706c6c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.input-container .caixa {
    border: 1px solid #706c6c;
    border-radius: 15px;
    width: 250px;
    height: 25px;
    padding: 5px 10px;
}

.input-container .icon {
    margin-right: 10px;
    width: 40px;
    height: auto;
}

.show-password-icon {
    position: relative;
    top: 5px;
}

.entrar {
    background-color: #fec808;
    color: white;
    border-radius: 5%;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    margin-left: 70px;
    justify-content: center;
    border: 0;
}

.BV{
    margin-bottom: 10%;
}