.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

/* Defina o layout flexível para o contêiner que envolve o menu e o mapa */
.container {
    display: flex;
    height: 100vh; /* Ocupar a altura total da janela */
}


/* O mapa deve ocupar o restante do espaço */
.map-container {
    flex-grow: 1; /* O mapa ocupa o espaço restante à direita */
    position: relative;
    margin-left: 16.55%;
    flex-wrap: wrap;
}

.map-container .leaflet-container {
    height: 100%; /* Faz o mapa ocupar toda a altura do contêiner */
    width: 100%; /* Faz o mapa ocupar toda a largura do contêiner */
}
