.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}



/* O mapa deve ocupar o restante do espaço */
.map-container {
    flex-grow: 1; /* O mapa ocupa o espaço restante à direita */
    flex-wrap: wrap;
}

.map-container .leaflet-container {
    height: 100%; /* Faz o mapa ocupar toda a altura do contêiner */
    width: 100%; /* Faz o mapa ocupar toda a largura do contêiner */
}
