.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.right-section {
  display: flex;
  font-family: 'Open Sans Hebrew', sans-serif;
  align-items: center;
  margin-right: 40px; 
  gap: 50px;
}

.right-section a{

  color: #807E76;
  text-decoration: none;
  
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.retangulo {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 100px;
  left: 0;
  background-color: #FFD80082;
  z-index: 0;
  pointer-events: none;
  opacity: 0.7;
}

.container {
  position: relative;
}

.mapa-styled {
  position: absolute;
  top: 130px;
  left: 150px;
  width: 624px;
  height: 572px;
  max-width: calc(100% - 400px);
  z-index: 1;
}

.login {
  font-family: 'Open Sans Hebrew', sans-serif;
  background-color: white;
  padding: 20px;
  width: 450px;
  height: 350px;
  position: absolute;
  top: 200px;
  left: 800px;
  z-index: 2;
  border: 1px solid #706c6c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.input-container .caixa {
  border: 1px solid #706c6c;
  border-radius: 15px;
  width: 250px;
  height: 25px;
  padding: 5px 10px;
}

.input-container .icon {
  margin-right: 10px;
  width: 40px;
  height: auto;
}

.show-password-icon {
  position: relative;
  top: 5px;
}

  .menu-comp{
    display: none;
  }

  .entrar {
    background-color: #fec808;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    justify-content: center;
  }

@media (max-width: 1400px) {

  .menu-comp{
    display: block;
  }

  .right-section{
    display: none !important;
  }

  .logo {
    margin-left: 10px;
    margin-right: auto;
  }
  .retangulo {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 100px;
    left: 0;
    background-color: #FFD80082;
    z-index: 0;
    pointer-events: none;
    opacity: 0.7;
  }

  .mapa-styled {
    position: absolute;
    top: 90px;
    left: 50px;
    max-width: calc(100% - 100px);
    z-index: 1;
  }

  .img-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .mapa-styled {
    width: 100%;
    height: auto;
  }

  .login {
    font-family: 'Open Sans Hebrew', sans-serif;
    background-color: rgba(255, 255, 255, 0.032);
    padding: 10px;
    max-width: 450px;
    width: calc(100% - 90px);
    margin: auto;
    border: 1px solid #706c6c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: -1;
  }

  .icon {
    width: 40px;
    height: auto;
  }

  .caixa {
    border: 1px solid #706c6c;
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
    height: 25px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .entrar {
    background-color: #fec808;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
  }
}